.actorsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.actorCard {
  display: flex;
  gap: 10px;
  width: 400px;
}

.moviesWrapper,
.tvShowsWrapper {
  margin-top: 10px;
}

.actorImage {
  border-radius: 7px;
  margin-right: 5px;
}

.actorName {
  font-size: 20px;
}
.originalName {
  margin-bottom: 15px;
}
.gender,
.department {
  font-size: 15px;
}
.cardRightArea {
  display: flex;
  flex-direction: column;
}
.detailButton {
  margin: auto 0 0 auto;
  font-size: 18px;
}
