.actorsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.actor {
  display: flex;
  gap: 10px;
  width: 400px;
}
.moviesWrapper,
.tvShowsWrapper {
  margin-top: 10px;
}
.actorImage {
  border-radius: 7px;
  margin-right: 5px;
}
