.userImg {
  border-radius: 50%;
}
.userMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  padding: 10px 50px 10px 10px;
  border: 1px solid #ccc;
}

.userMenu p:not(:last-child) {
  margin-bottom: 10px;
}

.userMenu p:last-child {
  margin-top: 50px;
}
