.actorDetailWrapper {
  display: flex;
  margin-bottom: 30px;
}

.actorImage {
  margin-right: 20px;
}

.originalNameWrapper {
  display: flex;
}

.originalNameWrapper h3 {
  margin-right: 5px;
}

.knownForTitle {
  margin-bottom: 15px;
}
.actorsJobs {
  display: flex;
  align-items: center;
  gap: 30px;
}
.actorJobsPosterWrapper {
  display: flex;
  gap: 15px;
  overflow: auto;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.filmCardWrapper {
  width: 200px;
  flex-shrink: 0;
}
.filmPoster {
  margin-bottom: 10px;
}
.filmTitle {
  text-align: center;
}
.characterName {
  align-items: end;
  text-align: center;
}
