.actorDetailWrapper {
  display: flex;
  margin-bottom: 30px;
}

.actorImage {
  margin-right: 20px;
}

.originalNameWrapper {
  display: flex;
}

.originalNameWrapper h3 {
  margin-right: 5px;
}

.knownForTitle {
  margin-bottom: 15px;
}

.actorsJobs {
  display: flex;
  align-items: center;
  gap: 30px;
}
.filmCardWrapper {
  width: 200px;
}
.filmTitle {
  text-align: center;
}
